@tailwind base;
@tailwind components;
@tailwind utilities;
.article-content {
  width: 100%;
  overflow-x: hidden;
}

.article-content img {
  max-width: 100%;
  height: auto;
}
:root {
 

  width: 100vw;
  height: 100vh;
  &::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


@media (prefers-color-scheme: dark) {
  :root {
    width: 100vw;
    height: 100vh;
   
  }
}

body {
  width: 100vw;
  height: 100vh;
  color: var(--foreground);
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}
